.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.body h1 {
  color: white;
}

.container_login {
  height: 50%;
  width: 50%;
  display: grid;
  grid-template-areas: "email" "password" "button";
  grid-template-rows: 2fr 2fr 1fr;
  place-items: center;
}

.container_email {
  grid-area: email;
}

.container_password {
  grid-area: password;
}

.button_login {
  grid-area: button;
}

.container_email,
.container_password {
  height:70%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.label_email,
.label_password {
  color: white;
  font-size: 0.8em;
  margin-bottom: 5px;
  
}

.input_email,
.input_password {
  height: 30px;
  border-radius: 5px;
  background-color: #B3B56A1a;
  border: 1px solid #ffffff2a;
}
.input_email::placeholder,
.input_password::placeholder {
  color: rgb(255, 255, 255, 0.6);
}

.button_login {
  height: 80%;
  width: 40%;
  border-radius: 8px;
  cursor: pointer;
  background-color: #b3b56a;
  font-size: 0.9em;
  color: white;
  border: none;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 10%;
}

.divider_line {
  flex-grow: 1;
  height: 1px;
  background-color: white;
}

.divider_text {
  margin: 15px;
  color: white;

  font-size: 1em;
}

.container_additional {
  width: 50%;
  height: 5%;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.button_forgot,
.button_register {
  width: 20%;
  border: none;
  background-color: transparent;
  border-bottom: 0.5px solid white;
  cursor: pointer;
  color: white;
}

.container_copy{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  justify-content: end;
}
